

body{
  font-family: 'garamond';
  font-size: 10pt;
  color: #000019;
  background-image: url(GIF2.gif);
  background-size: cover;
}

p{
  background-color: white;
  padding: 10px;
  margin: 100px;
}

.author{
  font-family: helvetica;
  font-weight: 6pt;
  border-bottom: 1pt solid;
}

.author:hover{
  background-color: crimson;
}

.iframe1{
  display: none;
  position: fixed;
  top: 100px;
  left: 100px;
}

.iframe1:hover{
  display: inline;
}

.history{
  font-family: helvetica;
  font-weight: 6pt;
  border-bottom: 1pt solid;
}

.history:hover{
  background-color: crimson;
}

  .books {
    text-decoration: none;
    font-family: ARIAL;
    font-weight: lighter;
    font-size: 30px;
    background-color: white;
    border: solid white 5px;
    z-index: 950;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 1;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 2.0;
    }
    100% {
        opacity: 0.5;
    }
}

.thumbnail{
  width: 300px;
  display: none;
}

.thumbnail.showme{
  display: block;
}

.rhizome{
  0% {
      opacity: 0.5;
  }
  50% {
      opacity: 2.0;
  }
  100% {
      opacity: 0.5;
  }
}
