

body{
  font-family: 'garamond';
  font-size: 10pt;
  color: #000019;
  background: #000019;
}

p{
  background-color: white;
  padding: 10px;
  margin: 100px;
}

.author{
  font-family: helvetica;
  font-weight: 20pt;
  border-bottom: 1pt solid;
}

.author:hover{
  background-color: crimson;
}

.iframe1{
  display: none;
  position: fixed;
  top: 100px;
  left: 100px;
}

.iframe1:hover{
  display: inline;
}

.history{
  font-family: helvetica;
  font-weight: 6pt;
  border-bottom: 1pt solid;
}

.history:hover{
  background-color: crimson;
}

.books{
  font-family: helvetica;
  font-weight: 6pt;
  border-bottom: 1pt solid;
}

.books:hover{
  background-color: crimson;
}

.thumbnail{
  width: 300px;
  display: none;
}

.thumbnail.showme{
  display: block;
}
